.reviewCard {
    width: cal(100% - 2 *var(--margin-s));
    border-bottom: 1px dotted white;
    margin: auto;
    padding: var(--margin-s);
}

.reviewCard img {
    width: 100%;
    object-fit: contain;
    
}

.reviewCard h3 {
    display: -webkit-box;
    line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
    text-align: left;
    font: var(--h4);
    margin: var(--margin-m) 0 ;
}

.reviewCard a {
    color: white;
}

.reviewCard:hover {
    background-color: darkgrey;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}