.review-card {
    width: cal(100% - 2 *var(--margin-s));
    border-bottom: 1px dotted white;
    margin: auto;
    padding: var(--margin-s);
}

.review-card-image {
    width: 100%;
    object-fit: contain;
}

.review-card-title {
    text-wrap: wrap;
    font: var(--h4);
    margin: var(--margin-m) 0 ;
}

.review-card:hover {
    background-color: var(--hover-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}