.voteButtons {
    display: flex;
    flex-direction: row;
    width: 150px;
    border-radius: 20px;
    border: 1px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: black;
}

.upSelected{
background-color: green;
}

.downSelected{
    background-color: red;
}

.voteButtons p {
    margin: auto;
    color: white;
}

.voteButtons button {
    background-color: transparent;
    padding: 10px;
}

.voteButtons button:hover {
    background-color: darkgrey;
}

.voteButtons button:hover > .upArrow{
    stroke: green
}

.voteButtons button:hover > .downArrow{
    stroke: red
}

.downSelected button .downArrow{
    polygon{
        fill: white;
    }
}
.upSelected  .upArrow{
    polygon{
        fill: white;
    }
}