.reviews-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.reviews-sorting-container {
    flex-grow: 1;
    padding: var(--margin-xs);
    width: calc(25% - 2* var(--margin-xs));
    border-right: 1px dotted white;
}

.reviews-list-container {
    width:  75%;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.reviews-list-item {
    margin: auto;
    width: 100%;
}

.reviews-page-heading{
    text-align: center;
    margin: var(--margin-l)0 ;
}
.reviews-sorting-container .category-dropdown {
    display: none;
}
@media screen and (max-width:56.25rem) {
    .reviews-page-container{
        flex-direction: column;
    }
    .reviews-list-container{
        width: 100%;
    }
    .reviews-sorting-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        border: none;
        padding: var(--margin-xs);
        width: calc(100% - 2 * var(--margin-xs));
    }
    .category-checkbox {
        display: none;
    }
    .reviews-sorting-container .category-dropdown {
        display: flex;
    }
    .category-dropdown label{
        margin: auto;
    }
}