.profile-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: var(--margin-xxs);
    border-bottom: 1px solid white;
    position: relative;
    top: 0;
}

.profile-container img {
    object-fit: contain;
    height: 9rem;
    width: 9rem;
    border: 2px solid black;
    border-radius: 20%;
    background-color: white;
}

.profile-name {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: var(--margin-xs);
    justify-content: flex-start;
}

.profile-name h1 {
    margin: 0;
    font: var(--h4)
}

.profile-name p {
    margin: var(--margin-xxs) 0;
    color: var(--secondary-text-color);
}

.profile-container button {
    height: 4rem;
    width: 6rem;
    margin-left: auto;
    font: var(--h4ui);
}


