.single-review-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.single-review-image  {
    width: 96%;
    margin: auto;
}

.single-review-title {
    font: var(--h3);
}

.single-review-body{
    font: var(--big);
    text-wrap: wrap;
}

.single-review-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.singleReviewTop button {
    width: 6.25rem;
    height: 100%;
}
