.topCommentCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commentCard {
    margin-top: 20px;
    border-bottom: 1px dotted white;
    padding-bottom: 10px;
}
.bottomCommentCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.commentCard .voteButtons{
    flex-shrink: 0;
    margin-top: auto;
}