.top-comment-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--margin-s);
}
.top-comment-card :first-child{
    margin-right: auto;
}

.comment-card {
    margin-top: var(--margin-m);
    border-bottom: 1px dotted white;
    padding-bottom: var(--margin-xs);
}

