.vote-buttons {
    display: flex;
    flex-direction: row;
    width: 9rem;
    height: 4rem;
    border-radius: 1rem;
    border: 1px solid white;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-color: var(--main-bg-color);
}

.up-selected{
background-color: var(--green);
}

.down-selected{
    background-color: var(--red);
}

.vote-count {
    margin: auto;
    color: white;
}

.vote-button {
    background-color: transparent;
    padding: var(--margin-xs);
    border: 0;
}

.vote-button:hover {
    background-color: var(--hover-color);
}

.vote-button:hover > .up-arrow{
    stroke: var(--green)
}

.vote-button:hover > .down-arrow{
    stroke: var(--red)
}

.down-selected .down-arrow{
    polygon{
        fill: white;
    }
}
.up-selected .up-arrow{
    polygon{
        fill: white;
    }
}