.profileReviewCard {
    position: relative;
    color: white;
}

.profileReviewImg {
    object-fit: contain;
    max-width: 100%;
}

.profileReviewCard img {
    width: 700px;
    height: 500px;
    object-fit: contain;
}

.profileReviewCard h3 {
    position: absolute;
    bottom: 80px;
    left: 16px;
    color: darkblue;
    z-index: 1;
    backdrop-filter: 5px;
}