.profile-review-card {
    width: 66%;
    max-width: 43.75rem;
    flex-shrink: 0;
    display: flex;
    overflow: hidden;
    position: relative;
}
.profile-reviewcard-image {
    width: calc(100% - 4px);
}

.profile-review-card-title {
    position: absolute;
    bottom: 0;
    color: white;
    padding: var(--margin-xs);
    font: var(--h4);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0;

}

.reviews-showcase {
    display: flex;
    flex-direction: row;
    width: calc(100% - 2px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: var(--margin-m);
    position: relative;
}

.profile-review-image{
    width: calc(66% - 4px);
    max-width: 43.75rem;
}

.back-button {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.forward-button {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.reviews-showcase svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: auto;
    fill: white;
}
.back-button, .forward-button{
    height: 2rem;
    width: 2rem;
    display: flex;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    padding: var(--margin-xxs);
}

.profile-review-card::after{
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 100%) repeat 0 0;
}

.profile-review-card :hover{
    border-color: var(--accent-color);
}

@media  screen and (max-width:50rem) {
    .profile-review-image{
        display: none;
    }
    .back-button, .forward-button{
        position: static;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
}
    .profile-review-card{
        width: 100%;
        max-width: 50rem;
        flex-shrink: 1;
}
.reviews-showcase{
    gap: var(--margin-xs);
}
}