.single-review-input {
    height: 75px;
    resize: vertical;
}
.addComment {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.addComment button {
    margin-top: var(--margin-xxs);
    margin-left: auto;
    height: 50px;
    width: 100px;
    flex-grow: 0;
    font: var(--bigui);
}