.single-review-input {
    height: 4.5rem;
    resize: vertical;
}
.add-comment {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.post-button {
    margin-top: var(--margin-xxs);
    margin-left: auto;
    height: 3.125rem;
    width: 6.25rem;
    flex-grow: 0;
    font: var(--bigui);
}