.user-image-container:hover {
    color:var(--text-color);
    background-color: var(--hover-color);
}

.user-image-container {
    display: flex;
    flex-direction: row;
    max-height: 4rem;
    margin-bottom: var(--margin-xs);
    gap: var(--margin-xs);
    color: var(--secondary-text-color);
    max-width: max-content;
}

.user-image {
    grid-column: 1;
    height: calc(4rem - 2px);
    width: calc(4rem - 2px);
    object-fit: contain;
    background-color: white;
    border: 1px solid black;
    flex-grow: 0;
}

.user-image-text {
    margin: 0;
    text-wrap: wrap;
}