#root {
  width: max-content;
  max-width: 90vw;
  height: auto ;
  padding: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 0;
  min-height: 100vh;
  min-width: min(1200px, 80vw);
  padding: 0px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.reviewCard {
  border: 1px solid white;
  border-radius: 5%;
  margin-bottom:10 px;
  padding: 10px;
}
.reviewCard img {
  width: 80%;
  max-height: 50%;
  object-fit: contain;
}
.catCard img {
  width: 50%;
}

.singleReview {
  border: 1px solid white;
  padding:10px;
}
.singleReview img{
  width: 60%;
  height:60%;
  object-fit: contain;
}
ul{
  list-style: none;
  padding-left: 0;
}
.commentCard {
  border: 1px solid white;
    padding: 10px;
    margin-top: 10px;
}

.selectedButton {
  background-color: blue;
}
.catCard{
  border: 1px solid white;
  padding:10px;
  margin:0px;
  border-radius: 5%;
}
.dateText{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
}
.pageTitle{
  margin-bottom: 10px;
}
.signIn{
  height: 65vh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.SignUpModal{
  background-color: black;
  text-align: left;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: block;
  padding:10px  ;
  overflow: hidden;
}
.SignUpModalContainer{
  background-color: black;
  height: 365px;
  width: 300px;
  position: absolute;
  top: 500px;
  left: 500px;
  text-align: left;
  
}
.SingleButtonContainer{
  text-align: center;
}
h3{
  text-align: center;
}
.TwoButtons{
  text-align: center;
}
.HiddenForm{
  display: none;
}
.VisibleForm{
  display: block;
}
.progressBar {
  display: flex;
  flex-direction: row;
  
}
.filledProgress {
  flex-grow: 1;
  background-color: orange;
  border: 1px solid black;
  text-align: center;
  color: black;
}
.unfilledProgress {
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: black;
}
button {
  margin: 3px;
}

.profileContainer {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 15% 15% 50% 10%;
  height: 30vh;
  text-align: left;
  width: 80vw;
}
.profileImgContainer {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  overflow: hidden;
}
.profileImg {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 20%;
}
.profileUsername {
  grid-column: 3;
  grid-row: 1;
  margin-left: 25px;
  font-size: 30px;
}
.profileName {
  grid-column: 3;
  grid-row: 2;
  margin-left: 25px;
  font-size: 30px;
}
.profileEditButton {
  grid-column: 4;
  grid-row: 1;
}
.profileSignOut {
  grid-row: 2;
  grid-column: 4;
}
.SignOutModal {
  height:200px;
  width: 400px ;
  background-color: white;
  border: 1px solid black ;
  position: absolute;
  top:50vh;
  left: 45vw;
}
.modalDiv {
  color:black;
  text-align: center;
}

#imgPickerProfileTest {
  height: 40px;
  width: 40px;
}

.navItem{
  flex-grow: 1;
  border-left: 1px solid white;
  text-align: center;
}
.navList {
  display: flex;
  flex-grow: 4;
}
.navBox{
  display: flex;
  position: sticky;
  top: 0;
  max-width: 90vw;
  background-color: darkslategray;
  color: black;
  height: 55px;
  width: 100%;
}
.logoNav{
  object-fit: contain;
  max-height: 40px;
}
.logoBox {
  flex-grow: 1 ;
}
.pageBox  {
  max-width: 90vw;
  height:  auto;
  min-height: 90vh;
  width: 100;
}
Link{
  color: white;
}
button {
  color: white;
}
.navLink {
  color: white ;
  font-size: 1.5em;
}