#root {
  width: 100vw;
  height: auto ;
  padding: 2rem;
  margin: 0 ;
  margin-top: 0;
  min-height: 100vh;
  padding: 0px;
}

.reviewCard {
  border-radius: 5%;
  margin-bottom:10 px;
  padding: 20px;

}
.reviewListItem :hover {
  background-color: white;
  color: black;
}
.reviewCard img {
  width: 80%;
  max-height: 50%;
  object-fit: contain;
}
.catCard img {
  width: 50%;
}

.singleReview {
  border: 1px solid white;
  padding:10px;
}
.singleReview img{
  width: 60%;
  height:60%;
  object-fit: contain;
}
ul{
  list-style: none;
  padding-left: 0;
}
.commentCard {
    margin-top: 20px;
}

.selectedButton {
  background-color: blue;
}
.catCard{
  border: 1px solid white;
  padding:10px;
  margin:0px;
  border-radius: 5%;
}
.dateText{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
}
.pageTitle{
  margin-bottom: 10px;
}
.signIn{
  height: 65vh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.SignUpModal{
  background-color: black;
  text-align: left;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: block;
  padding:10px  ;
  overflow: hidden;
  margin: auto;
}
.SignUpModalContainer{
  background-color: black;
  text-align: left;
  max-width: max-content;
  
}
.SingleButtonContainer{
  text-align: center;
}
h3{
  text-align: center;
}
.TwoButtons{
  text-align: center;
}
.HiddenForm{
  display: none;
}
.VisibleForm{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}
.progressBar {
  display: flex;
  flex-direction: row;
  
}
.filledProgress {
  flex-grow: 1;
  background-color: orange;
  border: 1px solid black;
  text-align: center;
  color: black;
}
.unfilledProgress {
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: black;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  height: 30vh;
  max-height: 300px;
  text-align: left;
  width: 100%;
  justify-content: space-between;
}
.profileImgContainer {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  overflow: hidden;
}
.profileImg {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 2px solid black;
  border-radius: 20%;
}
.profileUsername {
  grid-column: 3;
  grid-row: 1;
  margin-left: 25px;
  font-size: 30px;
}
.profileName {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
}
.profileEditButton {
  grid-column: 4;
  grid-row: 1;
}
.profileSignOut {
  height: 80px;
  width: 150px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.SignOutModal {
  height:200px;
  width: 400px ;
  background-color: white;
  border: 1px solid black ;
}
.modalDiv {
  color:black;
  text-align: center;
  margin: auto;
}

.imgPickerProfileTest {
  max-height: 250px;
  max-width: 250px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  max-width: 1200px;
}
.navbarItem{
  flex-grow: 1;
  text-align: center;
  flex-basis: 0;
  height: 100%;
  max-width: 150px;
  
}
.navbarButtons {
  flex-grow: 1;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 600px;
  justify-content: stretch;
  align-items: center;
  margin-right: 0;
  flex-direction: row-reverse;
}
.navbarContainer{
  display: block;
  position: sticky;
  top: 0;
  background-color: darkslategray;
  color: black;
  height: 55px;
  width: 100%;
}
.navbarLogo{
  object-fit: contain;
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  order:0;
}
.navbarLink {
  color: white ;
  font-size: 1.5em;
}
button {
  color: white;
  margin: 3px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.pageHeading {
  font-size: 3em;
  margin: 10px;
  text-align: center;
}

.dropdownForm {
  text-align: left;
}
.pageContent {
  max-width:  1200px;
  margin: auto;
  padding:5px;
  text-align: center;
  height: 100%;
}
.horizontalVoteButtonContainer{
  display: flex;
  flex-direction: row;
}
.verticalVoteButtonContainer{
  display: flex;
  flex-direction: column;
  max-width: 80px;
}
.reviewCardTopDetails {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.reviewCardTopDetails p {
  margin:10px;
}
.reviewCardBottomDetails {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.reviewCardBottomDetails p {
  margin: 10px;
}
.reviewListItem {
  color: white;
}
.reviewList {
  margin: 0px;
}
.reviewList li {
  margin: 10px;
}
.reviewsPageContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.reviewContentLeft {
  flex-grow: 1;
  max-width: 400px;
  text-align: left;
  align-self:top;
}
.linkBox {
  height: 100%;
  width: 100%;
}
.linkBox :hover {
  background-color: white;
  color: black;
}
a :hover {
  background-color: white;
  color: black;
}
.reviewContentRight {
  flex-grow: 2;
  max-width: 800px;
}
.checkboxHeading {
  margin-top: 40px ;
}
.commentImg {
  height: 40px;
  background-color: black;
}
.userImgContainer {
  display: flex;
  flex-direction: row;
  max-width: 200px;
  max-height: 60px;

}
.userImgContainer img{
    grid-column: 1;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.singleReviewContainer {
  max-width: 1000px;
  text-align: left;
  margin: auto;
}
.singleReviewContent {
  max-width: 800px;
  flex-grow: 2;
}

.userImgContainer p {
  margin: 0;
}
.imgText {
  display: flex;
  flex-grow: 1;
  max-height: 60px;
  flex-direction: column;
  margin-left: 10px;
}
.testBox {
  width: 100%;
}
.testBox img {
  width: 100%;
  object-fit: contain;
}
.navbar p {
  color: white;
}

.topCommentCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviewForm {
  display: flex;
  flex-direction: column;
}
.loginPageContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;

}
.buttonBox {
  text-align: center;
}
.buttonBox button {
  width: 60%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.postReviewContainer {
  max-width: 1000px;
  margin: auto;
  text-align: left;
}
.postReviewContainer textarea {
  width: calc (100% - 22px);
  height: 150px;
  background-color: #313639;
  color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px;
}
.catDd {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.postReviewContainer input {
  max-width: 400px;
}
.postReviewContainer button {
  width: 60%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
#output {
  max-height: 700px;
  object-fit: contain;
}
.centered {
  margin: auto;
}
.reviewsShowcase {
  display: flex;
  flex-direction: row;
  margin:auto;
  width: fit-content;
}
.profilePage {
  max-width: 1000px;
  margin: auto;
    padding: 5px;
    text-align: center;
    height: 100%;
}
.cont2 {
  display: flex;
  flex-direction: row;
  width: max-content;
}
.csstest {
  height: 100%;
  justify-content: center;
}
.commentTextArea {
  width: calc(100% - 22px);
    height: 75px;
    background-color: #313639;
    color: white;
    border-radius: 15px;
    padding: 10px;
}
.profileCommentCard {
  border-bottom: 1px dotted white;
}
.buttonBox :disabled {
  color: white;
  opacity: 10%;
  pointer-events: none;
}
.errorText {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.profileReviewImg {
  object-fit: contain;
  max-width:  min( 600px, 60%);
}

.singleReviewTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.singleReviewTop button {
  width: 100px;
  height: 100%;
}