#root {
  width: 100vw;
  height: auto ;
  padding: 2rem;
  margin: 0 ;
  margin-top: 0;
  min-height: 100vh;
  padding: 0px;
  background-color: var(--main-bg-color);
}
.pageContent{
  color: var(--text-color);
  width: min(1200px, 95%);
  margin: auto;
  padding: 5px;
  height: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

svg{
  pointer-events: none;
}

a{
  color: white;
}


.dateText{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  color: white;
}
.pageTitle{
  margin-bottom: 10px;
}
.signIn{
  height: 65vh;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: column;
}
.SignUpModal{
  background-color: black;
  text-align: left;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: block;
  padding:10px  ;
  overflow: hidden;
  margin: auto;
}
.SignUpModalContainer{
  background-color: black;
  text-align: left;
  max-width: max-content;
  
}
.SingleButtonContainer{
  text-align: center;
}
h3{
  text-align: center;
}
.TwoButtons{
  text-align: center;
}
.HiddenForm{
  display: none;
}
.VisibleForm{
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}
.progressBar {
  display: flex;
  flex-direction: row;
  
}
.filledProgress {
  flex-grow: 1;
  background-color: orange;
  border: 1px solid black;
  text-align: center;
  color: black;
}
.unfilledProgress {
  flex-grow: 1;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  color: black;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.profileContainer img {
  object-fit: contain;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20%;
  background-color: white;
}

.profileName {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  justify-content: flex-start;
}

.profileName h3 {
  color: white;
  margin: 0px;
  font-size: 35px;
}

.profileName p{
  margin-top: 5px;
}

.profileContainer button {
  height: 80px;
  width: 150px;
  margin-left: auto;
}
.SignOutModal {
  height:200px;
  width: 400px ;
  background-color: white;
  border: 1px solid black ;
}
.modalDiv {
  color:black;
  text-align: center;
  margin: auto;
}

.imgPickerProfileTest {
  max-height: 250px;
  max-width: 250px;
  text-align: center;
}



button {
  margin: 3px;
  border-radius: 25%;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

.pageHeading {
  font-size: 3em;
  margin: 10px;
  text-align: center;
}





.checkboxHeading {
  margin-top: 40px ;
}

.testBox {
  width: 100%;
}
.testBox img {
  width: 100%;
  object-fit: contain;
}



.reviewForm {
  display: flex;
  flex-direction: column;
}
.loginPageContainer {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}
.loginForm {
  display: flex;
  flex-direction: column;
  text-align: left;

}
.buttonBox {
  text-align: center;
}
.buttonBox button {
  width: 60%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.postReviewContainer {
  max-width: 1000px;
  margin: auto;
  text-align: left;
}
.postReviewContainer textarea {
  width: calc (100% - 22px);
  height: 150px;
  background-color: #313639;
  color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  padding: 10px;
}
.catDd {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.postReviewContainer input {
  max-width: 400px;
}
.postReviewContainer button {
  width: 60%;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
#output {
  max-height: 700px;
  object-fit: contain;
}
.centered {
  margin: auto;
}
.reviewsShowcase {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  border: 1px solid white ;
}
.reviewsShowcase img {
  height: 300px;
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  object-fit: contain;
}
.reviewsShowcase button {
  height: 80px;
  width: 100px;
  margin: auto;
}
.profilePage {
  max-width: 1200px;
  margin: auto;
    padding: 5px;
    text-align: center;
    height: 100%;
}
.profilePage h2 {
  font-size: 45px;
}
.csstest {
  height: 100%;
  justify-content: center;
}


.buttonBox :disabled {
  opacity: 10%;
  pointer-events: none;
}

.errorText {
  background-color: red;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.commentsList {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
