.dropdownForm .upArrow,
.dropdownForm .downArrow {
    height:20px;
    width: 20px;
}
#catHeading {
    font: var(--h3ui);
    margin: var(--margin-xs) 0;
}
.dropdownForm {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    align-items: center;
    gap: var(--margin-xs);
}
.dropdownForm .dropdown {
    margin: 0;
}
.order-button {
    height: 100%;
}
