.navbarContainer {
    display: block;
    position: sticky;
    top: 0;
    background-color: var(--head-color);
    
    height: 55px;
    width: 100%;
    z-index: 9999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto;
    max-width: 1200px;
    color: var(--head-text);
}

.navbar p {
    font-size: 1.5em;
    margin: 0;
}

.navbar li {
    flex-grow: 1;
    text-align: center;
    flex-basis: 0;
    height: 100%;
    max-width: 150px;
}

.navbar ul {
    flex-grow: 1;
    display: flex;
    height: 100%;
    margin: auto;
    max-width: 600px;
    justify-content: stretch;
    align-items: center;
    margin-right: 0;
    flex-direction: row-reverse;
}


.navbar img {
    object-fit: contain;
    max-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    order: 0;
}
.navbar a{
    color: var(--head-text);
}
.linkBox {
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 55px;
    overflow: hidden;
}

.linkBox :hover {
    background-color: white;
    color: black;
}
