.review-form {
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);
}

.post-review-container {
    max-width: 50rem;
    margin: auto;
}

.post-review-body-input{
    width: calc(100% - 2 * var(--margin-xs) -2px);
    height: 9rem;
    background-color: var(--alternate-bg-color);
    color: var(--main-text-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    padding: var(--margin-xs);
    resize: vertical;
    font: var(--uih2);
    border: 1px solid white;
}

.post-review-body-input::placeholder{
    color: var(--main-text-color);
}

.post-review-button {
    width: 12.5rem;
    margin: auto;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}
.alert-text {
    font: var(--h4);
    text-wrap: wrap;
}
.alert-text button {
    font: var(--h4);
}
.post-review-heading {
    margin: var(--margin-l);
}